In [1]:
# Instakar librerias si no lo estan
# !pip install mysql-connector-python python-dotenv

In [2]:
# Importar librerias 
import pandas as pd
# import mysql.connector
# from mysql.connector import Error
from datetime import datetime
import os
from dotenv import load_dotenv

In [3]:
# Cargar el archivo utils.py
%run ../scripts/utils.py

In [4]:
# Cargar variables de entorno
load_dotenv()

True

In [5]:
# Configuración de la base de datos
db_config = {
    'host': os.getenv('DB_HOST'),
    'database': os.getenv('DB_NAME'),
    'user': os.getenv('DB_USER'),
    'password': os.getenv('DB_PASSWORD')
}

print("Configuración cargada.")

Configuración cargada.

In [8]:
# Cargar los datos desde el CSV
file_path = f'C:/Users/delahozce/OneDrive - GLOBAL HITSS/Documentos/Proyectos/Codes/Test_adalab/EDA -Transporte_Publico_en_España/'
df = pd.read_csv(file_path + 'data/Transporte_Publico_Espana.csv')

print("Muestra de los datos cargados:")
display(df.head())

Muestra de los datos cargados:

,ID_Viaje,Fecha,Ruta,Numero_Pasajeros,Duracion_Viaje_Minutos,Retraso_Minutos,Tipo_Transporte,Region,Dia_Semana
0,1,2023-01-01 00:00:00,Barcelona - Bilbao,NaN,not_available,999,Tranvía,Sevilla,Sunday
1,2,2023-01-01 00:01:00,Malaga - Sevilla,99.0,192.0,58,Tren,Barcelona,Sunday
2,3,2023-01-01 00:02:00,Madrid - Zaragoza,10.0,94.0,119,Autobús,Madrid,Sunday
3,4,2023-01-01 00:03:00,Sevilla - Madrid,96.0,650.0,2,Metro,Malaga,Sunday
4,5,2023-01-01 00:04:00,Madrid - Malaga,22.0,335.0,51,Autobús,Sevilla,Sunday

In [11]:
# Preparar los datos para la inserción
data = []
for _, row in df.iterrows():
    data.append((
        row['ID_Viaje'],
        convert_date(row['Fecha']),
        row['Ruta'],
        row['Numero_Pasajeros'] if pd.notna(row['Numero_Pasajeros']) else None,
        row['Duracion_Viaje_Minutos'] if pd.notna(row['Duracion_Viaje_Minutos']) else None,
        row['Retraso_Minutos'] if pd.notna(row['Retraso_Minutos']) else None,
        row['Tipo_Transporte'],
        row['Region'],
        row['Dia_Semana']
    ))

print(f"Datos preparados. Total de filas: {len(data)}")

Datos preparados. Total de filas: 100100

In [17]:
# Conexión y ejecución
conn = create_connection()
if conn is not None:
    try:
        cursor = conn.cursor()
        create_table(cursor)
        insert_data(cursor, data)
        conn.commit()
        print("Datos insertados con éxito en la base de datos.")
    except Error as e:
        print(f"Error: {e}")

Datos insertados con éxito en la base de datos.